a {
    outline: none;
    text-decoration: none;

  }
  
  a:link {
    color: aquamarine;
  }
  
  a:visited {
    color: aquamarine;
  }
  
  a:focus { 
    background: #BAE498;
  }
  
  a:hover {

    background: #CDFEAA;
  }
  
  a:active {
    background: #265301;
    color: #CDFEAA;
  }